<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CyBusiness - Invoice</title>
	
	<link rel="shortcut icon" href="../../images/cy.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-datepicker/1.3.0/datepicker.min.css" type="text/css"/>
	<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css"/>
	<link rel="shortcut icon" href="../../images/cy.ico">
	
	<script src="../../js/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script> 
	<script src="../../js/angularjs/1.3.15/angular.min.js"></script>
	<script src="../../js/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	
	
	<script src="../../js/ironhorse-common.js"></script>
	<script src="../../js/ironhorse-transl.js"></script>
	<script src="../../js/ironhorse-search.js"></script>
	<script src="../../js/ironhorse-list.js"></script>
	<script src="../../js/ironhorse-attribute.js"></script>
	
</head>
<body>
<div class="container-fluid ng-cloak" ng-app="pageApp" ng-controller="pageCtrl" ng-cloak>
	<div class="page-header" ng-include="'../../includes/header.html'" ></div>
	
	<div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }}</div>
	<div class="alert alert-info" ng-show="infoMessage"> {{ infoMessage }}</div>
	
	<form novalidate name="invoiceForm" id="invoiceForm" class="form-inline" role="form" method="post">

	<div id='list' ng-show="detail">
		<div ng-show="!modify"><h4><span class="label label-default">{{'NEW.TITLE' | translate }}</span></h4></div>
		<div ng-show="modify"><h4><span class="label label-default">{{'MODIFY.TITLE' | translate }}</span></h4></div>
	
		<button type="button" class="btn btn-info btn-sm" ng-click="onBack()">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
				{{'BACK.BUTTON' | translate }}
		</button>
		</br></br>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_number">{{'NUMBER.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_number" id="_number" type="string" ng-model="_number" size="10" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_number">{{'YEAR.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_year" id="_year" type="string" ng-model="_year" size="10" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm">
			<label>{{'COMPANY.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_companyName" id="_companyName" type="string" ng-model="_companyName" size="50" ng-show='modify' readonly/></div>
			<div ng-show='!modify'>
				<select id="_selectedCompany" name="_selectedCompany" class="form-control" ng-model="_selectedCompany" required>
		        	 <option value=""> </option>
		        	 <option ng-repeat="managed in managedCompanies" value="{{managed.id}}">{{managed.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<!-- change number --> 
		<div class="form-group form-group-sm" ng-show='_number!=0 && modify'>
			<label>{{'CHANGENUMBER.LABEL' | translate }}:</label>
			<div>
				<input class="form-control" name="_changeNumber" id="_changeNumber" type="number" ng-model="_changeNumber" required/>
				<button type="button" class="btn btn-sm btn-info" ng-click="onChangeNumber()" ng-show="_number!=0 && modify" translate>CHANGENUMBER.BUTTON</button>
			</div>
		</div>
		
		<h6>
			<span class="label label-warning" ng-show="_number!=0 && modify && (invoiceForm._changeNumber.$error.required || invoiceForm._changeNumber.$error.number)" translate>CHANGENUMBER.REQUIRED</span>
		</h6>
		
		
		<!-- customer -->
		<h5><span class="label label-default">{{'CUSTOMER.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_customerId" id="_customerId" type="text" ng-model="_customerId" size="50" ng-show="false" required/>
				<input class="form-control" name="_customerName" id="_customerName" type="text" ng-model="_customerName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeleteCustomer()" ng-show='!modify'>
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		<div class="form-group form-group-sm" ng-show='!modify'>
			<input class="form-control" type="text" size=20 name="customerName" id="customerName" type="text"  ng-model="customerName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchCustomer()" ng-show='!modify'>
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm" ng-show='!modify'>
			<select id="_selectedCustomer" name="_selectedCustomer" class="form-control" ng-model="_selectedCustomer">
	        	 <option ng-repeat="customer in customers" value="{{customer.id}}">{{customer.name +' ['+customer.code+']'}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdateCustomer()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	    </div>
		<!-- end customer -->
		
		<!-- person -->
		<h5><span class="label label-default">{{'PERSON.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm" >
			<div>
				<input class="form-control" name="_personId" id="_personId" type="text" ng-model="_personId" size="50" ng-show="false" required/>
				<input class="form-control" name="_personName" id="_personName" type="text" ng-model="_personName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeletePerson()" ng-show='!modify'>
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		<div class="form-group form-group-sm" ng-show='!modify'>
			<input class="form-control" type="text" size=20 name="personFirstName" id="personFirstName" type="text"  ng-model="personFirstName">
			<input class="form-control" type="text" size=20 name="personSecondName" id="personSecondName" type="text"  ng-model="personSecondName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchPerson()" ng-show='!modify'>
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm" ng-show='!modify'>
			<select id="_selectedPerson" name="_selectedPerson" class="form-control" ng-model="_selectedPerson">
	        	 <option ng-repeat="person in persons" value="{{person.id}}">{{person.firstName+' '+person.secondName+' ['+person.code+']'}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdatePerson()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	    </div>
		<!-- end person -->
		
		</br>
		<div class="form-group form-group-sm">
      		<label for="_note">{{'NOTE.LABEL' | translate }}:</label>
			<div><textarea class="form-control" rows="4" cols="90" name="_note" ng-model="_note" maxlength=500></textarea></div>
		</div>
		</br>
		
		<div class="form-group form-group-sm">
			<label for="_date">{{'DATE.LABEL' | translate }}:</label>
			<div>
				<div class="input-group date" id="datepicker">
	            <input class="form-control" type="text" name="_date" id="_date" type="text"  ng-model="_date">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	    	   	</div>
          	</div>	
		</div>
		
		<div class="form-group form-group-sm">
			<label>{{'CURRENCY.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_currencyName" id="_currencyName" type="string" ng-model="_currencyName" size="10" ng-show='modify' readonly/></div>
			<div ng-show='!modify'>
				<select id="_selectedCurrency" name="_selectedCurrency" class="form-control" ng-model="_selectedCurrency" required>
		        	 <option ng-repeat="currency in currencies" value="{{currency.id}}">{{currency.code}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_amount">{{'AMOUNT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_amount" id="_amount" type="string" ng-model="_amount" size="15" readonly/></div>
		</div>
		
		
		<div class="form-group form-group-sm">
			<label for="_vatAmount">{{'VATAMOUNT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_vatAmount" id="_vatAmount" type="string" ng-model="_vatAmount" size="15" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_amountTot">{{'AMOUNTTOT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_amountTot" id="_amountTot" type="string" ng-model="_amountTot" size="15" readonly/></div>
		</div>
		
		
		<h6>
			<span class="label label-warning" ng-show="invoiceForm._selectedCompany.$error.required" translate>COMPANY.REQUIRED</span>
    		<span class="label label-warning" ng-show="invoiceForm._customerId.$error.required && invoiceForm._personId.$error.required" translate>CUSTOMER_PERSON.REQUIRED</span>
    		<span class="label label-warning" ng-show="invoiceForm._selectedCurrency.$error.required" translate>CURRENCY.REQUIRED</span>
    		
    	</h6>
		
      	<button type="button" class="btn btn-sm btn-info" ng-click="onSubmit()" ng-show="!(_number!=0 && modify)" translate>SUBMIT.BUTTON</button>
		
		<button type="button" class="btn btn-sm btn-info" ng-click="printInvoice(invoiceId)" ng-show='_number!=0 && modify'>
			<span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;{{'PRINT.BUTTON' | translate }}
		</button>
	
	      			
	
		<!-- attributes -->
		<div ng-show="modify">
		
		<!-- item list -->
		<br>
		<table class="table table-bordered table-striped" ng-show="items.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'PRODUCT.LABEL' | translate }}</th>
			<th>{{'COMPONENT.LABEL' | translate }}</th>
			<th>{{'UM.LABEL' | translate }}</th>
			<th>{{'QTY.LABEL' | translate }}</th>
			<th>{{'PRICE.LABEL' | translate }}</th>
			<th>{{'AMOUNT.LABEL' | translate }}</th>
			<th>{{'VAT.LABEL' | translate }}</th>
			<th>{{'VATAMOUNT.LABEL' | translate }}</th>
			<th>{{'AMOUNTTOT.LABEL' | translate }}</th>
			<th>{{'DATESTART.LABEL' | translate }}</th>
			<th>{{'DATEEND.LABEL' | translate }}</th>
			<th>{{'DATE.LABEL' | translate }}</th>
			<th>{{'TYPE.LABEL' | translate }}</th>
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="item in items | orderBy:'productName'">
	    		<td>{{ item.id }}</td>
	    		<td>{{ item.productName }}</td>
	    		<td>{{ item.componentName }}</td>
	    		<td>{{ item.qtyUmSimbol }}</td>
	    		
	    		<td align="right">{{ item.qty.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ item.price.round(6).formatI18N(6) }}</td>
	    		<td align="right">{{ item.amount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ item.vat.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ item.vatAmount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ item.totAmount.round(2).formatI18N(2) }}</td>
	    		
	    		<td>{{ item.dateStart.dateFormat() }}</td>
	    		<td>{{ item.dateEnd.dateFormat() }}</td>
	    		<td>{{ item.date.dateFormat() }}</td>
	    		<td>{{ item.billableType }}</td>
	    		
	    		
	    		<td> 
	      			
	      			<button class="btn btn-info btn-xs" ng-click="removeBillable(item.id)" ng-show='_number==0'>
	      				<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
		
			
	<!-- billable list -->
	<h5><span class="label label-default" ng-show='_number==0 && billables.length>0'>{{'BILLABLE.LABEL' | translate }}</span></h5>
	
	<table class="table table-bordered table-striped" ng-show="billables.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'PRODUCT.LABEL' | translate }}</th>
			<th>{{'COMPONENT.LABEL' | translate }}</th>
			<th>{{'UM.LABEL' | translate }}</th>
			<th>{{'QTY.LABEL' | translate }}</th>
			<th>{{'PRICE.LABEL' | translate }}</th>
			<th>{{'AMOUNT.LABEL' | translate }}</th>
			<th>{{'VAT.LABEL' | translate }}</th>
			<th>{{'VATAMOUNT.LABEL' | translate }}</th>
			<th>{{'AMOUNTTOT.LABEL' | translate }}</th>
			<th>{{'DATESTART.LABEL' | translate }}</th>
			<th>{{'DATEEND.LABEL' | translate }}</th>
			<th>{{'DATE.LABEL' | translate }}</th>
			<th>{{'TYPE.LABEL' | translate }}</th>
			
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="billable in billables | orderBy:'date_start'">
	    		<td>{{ billable.id }}</td>
	    		<td>{{ billable.productName }}</td>
	    		<td>{{ billable.componentName }}</td>
	    		<td>{{ billable.qtyUmSimbol }}</td>
	    		
	    		<td align="right">{{ billable.qty.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ billable.price.round(6).formatI18N(6) }}</td>
	    		<td align="right">{{ billable.amount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ billable.vat.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ billable.vatAmount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ billable.totAmount.round(2).formatI18N(2) }}</td>
	    		<td>{{ billable.dateStart.dateFormat() }}</td>
	    		<td>{{ billable.dateEnd.dateFormat() }}</td>
	    		<td>{{ billable.date.dateFormat() }}</td>
	    		<td>{{ billable.billableType }}</td>
	    		
	    		<td> 
	      			
	      			<button class="btn btn-info btn-xs" ng-click="addBillable(billable.id)" ng-show='_number==0'>
	      				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{'ADD.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
	
	</div>
	
	<!-- billable list -->
	  	
	</div>
	<!--  end detail -->
	<div ng-show="!detail">
		<h4><span class="label label-default">{{'INVOICE.TITLE' | translate }}</span></h4>
	
		<div class="form-group form-group-sm">
			<label for="number">{{'NUMBER.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="number" id="number"  ng-model="number">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="year">{{'YEAR.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="year" id="year"  ng-model="year">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="selectedCompany">{{'COMPANY.LABEL' | translate }}:</label>
			<select id="selectedCompany" name="selectedCompany" class="form-control" ng-model="selectedCompany">
				<option value=""></option>
	   	 		<option ng-repeat="managed in managedCompanies" value="{{managed.id}}">{{managed.name}}</option>
		     </select>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="customerId">{{'CUSTOMERID.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="customerId" id="customerId"  ng-model="customerId">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="customerCode">{{'CUSTOMERCODE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="customerCode" id="customerCode"  ng-model="customerCode">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="customerName">{{'CUSTOMERNAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="customerName" id="customerName"  ng-model="customerName">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personId">{{'PERSONID.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="personId" id="personId"  ng-model="personId">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personCode">{{'PERSONCODE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="personCode" id="personCode"  ng-model="personCode">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personName">{{'PERSONNAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="personName" id="customerName"  ng-model="personName">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="dateFrom">{{'DATEFROM.LABEL' | translate }}:</label>
			<div class="input-group date" id="datepickerFrom">
            <input class="form-control" type="text" name="dateFrom" id="dateFrom" type="text"  ng-model="dateFrom">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		<div class="form-group form-group-sm">
			<label for="dateTo">{{'DATETO.LABEL' | translate }}:</label>
			
			<div class="input-group date" id="datepickerTo">
            <input class="form-control" type="text" name="dateTo" id="dateTo" type="text"  ng-model="dateTo">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		<button type="button" class="btn btn-info btn-sm" ng-click="onSearch()">
				<span class="glyphicon glyphicon-search"></span>
				{{'SEARCH.BUTTON' | translate }}
			</button>
			<button type="button" class="btn btn-sm btn-info" ng-click="onNew()">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
				{{'NEW.BUTTON' | translate }}
			</button>
		
		<br><br>
		<table class="table table-bordered table-striped" ng-show="invoices.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'NUMBER.LABEL' | translate }}</th>
			<th>{{'CUSTOMERCODE.LABEL' | translate }}</th>
			<th>{{'CUSTOMER.LABEL' | translate }}</th>
			<th>{{'PERSONCODE.LABEL' | translate }}</th>
			<th>{{'PERSON.LABEL' | translate }}</th>
			<th>{{'CURRENCY.LABEL' | translate }}</th>
			<th>{{'AMOUNT.LABEL' | translate }}</th>
			<th>{{'VATAMOUNT.LABEL' | translate }}</th>
			<th>{{'AMOUNTTOT.LABEL' | translate }}</th>
			<th>{{'DATE.LABEL' | translate }}</th>
			<th>{{'CANCELLED.LABEL' | translate }}</th>
			<th>{{'COMPANY.LABEL' | translate }}</th>
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="invoice in invoices | orderBy:'date'">
	    		<td>{{ invoice.id }}</td>
	    		<td>{{ invoice.stringNumber }}</td>
	    		<td>{{ invoice.tpCompanyCode }}</td>
	    		<td>{{ invoice.tpCompanyName }}</td>
	    		<td>{{ invoice.personCode }}</td>
	    		<td>{{ invoice.personFirstName }} {{ invoice.personSecondName }}</td>
	    		<td>{{ invoice.currencyCode }}</td>
	    		<td align="right">{{ invoice.amount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ invoice.vatAmount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ invoice.totAmount.round(2).formatI18N(2) }}</td>
	    		<td>{{ invoice.date.dateFormat() }}</td>
	    		<td>{{ invoice.cancelled }}</td>
	    		<td>{{ invoice.companyName }}</td>
	    		
	    		<td> 
	      			<button class="btn btn-info btn-xs" ng-click="editInvoice(invoice.id)">
	      			<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{'EDIT.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="lockInvoice(invoice.id)" ng-show='invoice.number==0'>
	      			<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{{'LOCK.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="unlockInvoice(invoice.id)" ng-show='invoice.number!=0'>
	      				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{'UNLOCK.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="printInvoice(invoice.id)" ng-show='invoice.number!=0'>
	      			<span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;{{'PRINT.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="deleteInvoice(invoice.id)">
	      			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
		
		
	</div>
	<!-- end list -->
	
	
	</form>
	
</div>

<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker-it.js"></script>
<script src="js/invoice.js"></script>

</body>
</html>	