<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Iron Horse - Purchase</title>
	
	<link rel="shortcut icon" href="../../images/cy.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-datepicker/1.3.0/datepicker.min.css" type="text/css"/>
	<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css"/>
	<link rel="shortcut icon" href="../../images/cy.ico">
	
	<script src="../../js/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script> 
	<script src="../../js/angularjs/1.3.15/angular.min.js"></script>
	<script src="../../js/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	
	
	<script src="../../js/ironhorse-common.js"></script>
	<script src="../../js/ironhorse-transl.js"></script>
	<script src="../../js/ironhorse-search.js"></script>
	<script src="../../js/ironhorse-list.js"></script>
	<script src="../../js/ironhorse-attribute.js"></script>
	
</head>
<body>
<div class="container-fluid" ng-app="pageApp" ng-controller="pageCtrl">
	<div class="page-header" ng-include="'../../includes/header.html'" ></div>
	
	<div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }}</div>
	<div class="alert alert-info" ng-show="infoMessage"> {{ infoMessage }}</div>
	
	<form novalidate name="purchaseForm" id="purchaseForm" class="form-inline" role="form" method="post">

	<div id='list' ng-show="detail">
		<div ng-show="!modify"><h4><span class="label label-default">{{'NEW.TITLE' | translate }}</span></h4></div>
		<div ng-show="modify"><h4><span class="label label-default">{{'MODIFY.TITLE' | translate }}</span></h4></div>
	
		<button type="button" class="btn btn-info btn-sm" ng-click="onBack()">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
				{{'BACK.BUTTON' | translate }}
		</button>
		</br></br>
		
		<div class="form-group form-group-sm">
			<label for="_selectedCompany">{{'COMPANY.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedCompany" name="_selectedCompany" class="form-control" ng-model="_selectedCompany" required>
		        	 <option value=""> </option>
		        	 <option ng-repeat="managed in managedCompanies" value="{{managed.id}}">{{managed.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<!-- product -->
		<h5><span class="label label-default">{{'PRODUCT.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_productId" id="_productId" type="text" ng-model="_productId" size="50" ng-show="false" required/>
				<input class="form-control" name="_productName" id="_productName" type="text" ng-model="_productName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeleteProduct()">
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" size=20 name="productName" id="productName" type="text"  ng-model="productName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchProduct()">
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm">
			<select id="_selectedProduct" name="_selectedProduct" class="form-control" ng-model="_selectedProduct">
	        	 <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdateProduct()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	    </div>
		<!-- end product -->
		
		<!-- supplier -->
		<h5><span class="label label-default">{{'SUPPLIER.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_supplierId" id="_supplierId" type="text" ng-model="_supplierId" size="50" ng-show="false" required/>
				<input class="form-control" name="_supplierName" id="_supplierName" type="text" ng-model="_supplierName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeleteSupplier()">
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" size=20 name="supplierName" id="supplierName" type="text"  ng-model="supplierName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchSupplier()">
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm">
			<select id="_selectedSupplier" name="_selectedSupplier" class="form-control" ng-model="_selectedSupplier">
	        	 <option ng-repeat="supplier in suppliers" value="{{supplier.id}}">{{supplier.name +' ['+supplier.code+']'}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdateSupplier()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	    </div>
		<!-- end supplier -->
		
		<!-- person -->
		<h5><span class="label label-default">{{'PERSON.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_personId" id="_personId" type="text" ng-model="_personId" size="50" ng-show="false" required/>
				<input class="form-control" name="_personName" id="_personName" type="text" ng-model="_personName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeletePerson()">
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" size=20 name="personFirstName" id="personFirstName" type="text"  ng-model="personFirstName">
			<input class="form-control" type="text" size=20 name="personSecondName" id="personSecondName" type="text"  ng-model="personSecondName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchPerson()">
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm">
			<select id="_selectedPerson" name="_selectedPerson" class="form-control" ng-model="_selectedPerson">
	        	 <option ng-repeat="person in persons" value="{{person.id}}">{{person.firstName+' '+person.secondName+' ['+person.code+']'}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdatePerson()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	    </div>
		<!-- end person -->
		<br>
		
		<div class="form-group form-group-sm">
			<label for="_selectedComponent">{{'COMPONENT.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedComponent" name="_selectedComponent" class="form-control" ng-model="_selectedComponent" required>
		        	 <option ng-repeat="component in components" value="{{component.id}}">{{component.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_selectedUm">{{'UM.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedUm" name="_selectedUm" class="form-control" ng-model="_selectedUm">
		        	 <option ng-repeat="um in ums" value="{{um.id}}">{{um.simbol}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_scale">{{'QTY.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_qty" id="_qty" type="number" ng-model="_qty" size="15"  step="0.01"/></div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_selectedCurrency">{{'CURRENCY.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedCurrency" name="_selectedCurrency" class="form-control" ng-model="_selectedCurrency" required>
		        	 <option ng-repeat="currency in currencies" value="{{currency.id}}">{{currency.code}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_price">{{'PRICE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_price" id="_price" type="number" ng-model="_price" size="15"  step="0.01"/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_price">{{'AMOUNT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_amount" id="_amount" type="number" ng-model="_amount" size="15" readonly/></div>
		</div>
		
		
		<div class="form-group form-group-sm">
			<label for="_vat">{{'VAT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_vat" id="_vat" type="number" ng-model="_vat" size="15"  step="1" required/></div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_priceTot">{{'PRICETOT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_priceTot" id="_priceTot" type="number" ng-model="_priceTot" size="15"  step="0.01"/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_vatAmount">{{'VATAMOUNT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_vatAmount" id="_vatAmount" type="number" ng-model="_vatAmount" size="15" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_amountTot">{{'AMOUNTTOT.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_amountTot" id="_amountTot" type="number" ng-model="_amountTot" size="15" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="false">
			<label for="_selectedFrequency">{{'FREQUENCY.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedFrequency" name="_selectedFrequency" class="form-control" ng-model="_selectedFrequency">
		        	 <option value=""> </option>
		        	 <option ng-repeat="frequency in frequencies" value="{{frequency.id}}">{{frequency.name}} [{{frequency.simbol}}]</option>
		        </select>
		   	</div>
		</div>
	
		<div class="form-group form-group-sm" ng-show="false">
			<label for="_selectedTacitRenewal">{{'TACITRENEWAL.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedTacitRenewal" name="_selectedTacitRenewal" class="form-control" ng-model="_selectedTacitRenewal">
		        	 <option value="Y"> {{'YES.OPTION' | translate }} </option>
		        	 <option value="N"> {{'NO.OPTION' | translate }} </option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_selectedType">{{'TYPE.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedType" name="_selectedType" class="form-control" ng-model="_selectedType">
		       	   	 <option value="B"> {{'BILLABLE.OPTION' | translate }} </option>
		        	 <option value="N"> {{'NO.OPTION' | translate }} </option>
		     	     <option value="H"> {{'HYP.OPTION' | translate }} </option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_date">{{'DATE.LABEL' | translate }}:</label>
			<div>
				<div class="input-group date" id="datepicker">
	            <input class="form-control" type="text" name="_date" id="_date" type="text"  ng-model="_date">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	    	   	</div>
          	</div>	
		</div>
		
		<div class="form-group form-group-sm" ng-show="false">
			<label for="dateStart">{{'DATESTART.LABEL' | translate }}:</label>
			<div>
				<div class="input-group date" id="dateStartpicker">
	            <input class="form-control" type="text" name="_dateStart" id="_dateStart" type="text"  ng-model="_dateStart">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	          	</div>
	        </div>	
		</div>
		
		<div class="form-group form-group-sm" ng-show="false">
			<label for="dateEnd">{{'DATEEND.LABEL' | translate }}:</label>
			<div>
				<div class="input-group date" id="dateEndpicker">
	            <input class="form-control" type="text" name="_dateEnd" id="_dateEnd" type="text"  ng-model="_dateEnd">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	          	</div>
	        </div>  		
		</div>
		
		<h6>
			<span class="label label-warning" ng-show="purchaseForm._selectedCompany.$error.required" translate>COMPANY.REQUIRED</span>
    		<span class="label label-warning" ng-show="purchaseForm._productId.$error.required" translate>PRODUCT.REQUIRED</span>
    		<span class="label label-warning" ng-show="purchaseForm._supplierId.$error.required && purchaseForm._personId.$error.required" translate>SUPPLIER_PERSON.REQUIRED</span>
    		<span class="label label-warning" ng-show="purchaseForm._selectedComponent.$error.required" translate>COMPONENT.REQUIRED</span>
    		<span class="label label-warning" ng-show="purchaseForm._selectedCurrency.$error.required" translate>CURRENCY.REQUIRED</span>
    		<span class="label label-warning" ng-show="purchaseForm._vat.$error.required" translate>VAT.REQUIRED</span>
    		
    	</h6>
		
      	<button type="button" class="btn btn-sm btn-info" ng-click="onSubmit()" translate>SUBMIT.BUTTON</button>
	
		<!-- attributes -->
		<div ng-show="modify">
			<h5><span class="label label-default">{{'ATTRIBUTES.LABEL' | translate }}</span></h5>
			<table class="table-condensed table-bordered table-striped">
				<thead ng-show="attributeValues.length>0">
					<tr class="info small">
					<th>{{'ATTRIBUTENAME.LABEL' | translate }}</th>
					<th>{{'ATTRIBUTETYPE.LABEL' | translate }}</th>
					<th>{{'ATTRIBUTEVALUE.LABEL' | translate }}</th>
					<th></th>
					</tr>
			    </thead>
			
				<tbody>
			    	<tr class="small" ng-repeat="attribute in attributeValues">
			    		<td>{{ attribute.name }}</td>
			    		<td>{{ attribute.typeName }}</td>
			    		<td>{{ attribute.value }}</td>
			    		<td>
			    			<button class="btn btn-info btn-xs" ng-click="deleteAttribute(attribute.id)">
		      				<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
		      				</button>
		    			</td>
					</tr>
				</tbody>		
			
			</table>		
		
			<div class="form-group form-group-sm">
				<label for="_selectedAttribute">{{'ATTRIBUTENAME.LABEL' | translate }}:</label>
				<select id="_selectedAttribute" name="_selectedAttribute" class="form-control" ng-model="_selectedAttribute" required>
		        	 <option ng-repeat="attribute in attributes" value="{{attribute.id}}">{{attribute.name +' >'+attribute.typeName+'<' }}</option>
		        </select>
			</div>
			
				<div class="form-group form-group-sm">
				<label  for="_attributeValue">{{'ATTRIBUTEVALUE.LABEL' | translate }}:</label>
			   	<input class="form-control" type="text" size=15 name="_attributeValue" id="_attributeValue" type="text" maxlength=300 ng-model="_attributeValue" required>
	 		</div>
			
			<h6>
				<span class="label label-warning" ng-show="companyForm._selectedAttribute.$error.required && modify" translate>ATTRIBUTENAME.REQUIRED</span>
				<span class="label label-warning" ng-show="companyForm._attributeValue.$error.required && modify" translate>ATTRIBUTEVALUE.REQUIRED</span>
			</h6>
		
			<button type="button" class="btn btn-xs btn-info" ng-click="addAttribute()" translate>ADDATTRIBUTE.BUTTON</button>
			
		</div>
		<!--  end attributes -->
	  	
	</div>
	<!--  end detail -->
	<div ng-show="!detail">
		<h4><span class="label label-default">{{'PURCHASE.TITLE' | translate }}</span></h4>
	
		<div class="form-group form-group-sm">
			<label for="selectedCompany">{{'COMPANY.LABEL' | translate }}:</label>
			<select id="selectedCompany" name="selectedCompany" class="form-control" ng-model="selectedCompany">
				<option value=""></option>
	   	 		<option ng-repeat="managed in managedCompanies" value="{{managed.id}}">{{managed.name}}</option>
		     </select>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="productId">{{'PRODUCTID.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="productId" id="productId"  ng-model="productId">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="name">{{'PRODUCTNAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="productName" id="productName"  ng-model="productName">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="supplierId">{{'SUPPLIERID.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="supplierId" id="supplierId"  ng-model="supplierId">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="supplierCode">{{'SUPPLIERCODE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="supplierCode" id="supplierCode"  ng-model="supplierCode">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="supplierName">{{'SUPPLIERNAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="supplierName" id="supplierName"  ng-model="supplierName">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personId">{{'PERSONID.LABEL' | translate }}:</label>
			<input class="form-control" type="number" name="personId" id="personId"  ng-model="personId">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personCode">{{'PERSONCODE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="personCode" id="personCode"  ng-model="personCode">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="personName">{{'PERSONNAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="personName" id="supplierName"  ng-model="personName">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="dateFrom">{{'DATEFROM.LABEL' | translate }}:</label>
			<div class="input-group date" id="datepickerFrom">
            <input class="form-control" type="text" name="dateFrom" id="dateFrom" type="text"  ng-model="dateFrom">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		<div class="form-group form-group-sm">
			<label for="dateTo">{{'DATETO.LABEL' | translate }}:</label>
			
			<div class="input-group date" id="datepickerTo">
            <input class="form-control" type="text" name="dateTo" id="dateTo" type="text"  ng-model="dateTo">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		<div class="form-group form-group-sm">
			<label for="selectedAttribute">{{'ATTRIBUTE.LABEL' | translate }}:</label>
			<select id="selectedAttribute" name="selectedAttribute" class="form-control" ng-model="selectedAttribute">
				<option value=""></option>
				<option ng-repeat="attribute in attributes" value="{{attribute.id}}">{{attribute.name}}</option>
			</select>
		</div>
		<div class="form-group form-group-sm">
			<label for="attributeValue">{{'ATTRIBUTEVALUE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="attributeValue" id="attributeValue" type="text"  ng-model="attributeValue">
		</div>
		
		<button type="button" class="btn btn-info btn-sm" ng-click="onSearch()">
				<span class="glyphicon glyphicon-search"></span>
				{{'SEARCH.BUTTON' | translate }}
			</button>
			<button type="button" class="btn btn-sm btn-info" ng-click="onNew()">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
				{{'NEW.BUTTON' | translate }}
			</button>
		
		<br><br>
		<table class="table table-bordered table-striped" ng-show="purchases.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'PRODUCT.LABEL' | translate }}</th>
			<th>{{'SUPPLIERCODE.LABEL' | translate }}</th>
			<th>{{'SUPPLIER.LABEL' | translate }}</th>
			<th>{{'PERSONCODE.LABEL' | translate }}</th>
			<th>{{'PERSON.LABEL' | translate }}</th>
			<th>{{'COMPONENT.LABEL' | translate }}</th>
			<th>{{'UM.LABEL' | translate }}</th>
			<th>{{'QTY.LABEL' | translate }}</th>
			<th>{{'CURRENCY.LABEL' | translate }}</th>
			<th>{{'PRICE.LABEL' | translate }}</th>
			<th>{{'AMOUNT.LABEL' | translate }}</th>
			<th>{{'VAT.LABEL' | translate }}</th>
			<th>{{'VATAMOUNT.LABEL' | translate }}</th>
			<th>{{'AMOUNTTOT.LABEL' | translate }}</th>
			<th>{{'DATE.LABEL' | translate }}</th>
			<th>{{'COMPANY.LABEL' | translate }}</th>
			<!-- 
			<th>{{'FREQUENCY.LABEL' | translate }}</th>
			-->
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="purchase in purchases | orderBy:'date'">
	    		<td>{{ purchase.id }}</td>
	    		<td>{{ purchase.productName }}</td>
	    		<td>{{ purchase.supplierCode }}</td>
	    		<td>{{ purchase.supplierName }}</td>
	    		<td>{{ purchase.personCode }}</td>
	    		<td>{{ purchase.personFirstName }} {{ purchase.personSecondName }}</td>
	    		<td>{{ purchase.componentName }}</td>
	    		<td>{{ purchase.qtyUmSimbol }}</td>
	    		<td align="right">{{ purchase.qty.round(4).formatI18N(4) }}</td>
	    		<td>{{ purchase.currencyCode }}</td>
	    		<td align="right">{{ purchase.price.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ purchase.amount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ purchase.vat.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ purchase.vatAmount.round(2).formatI18N(2) }}</td>
	    		<td align="right">{{ (purchase.amount+purchase.vatAmount).round(2).formatI18N(2) }}</td>
	    		<td>{{ purchase.date.dateFormat() }}</td>
	    		<td>{{ purchase.companyName }}</td>
	    		<!-- 
	    		<td>{{ purchase.frequencyName }}</td>
	    		-->
	    		<td> 
	      			<button class="btn btn-info btn-xs" ng-click="editPurchase(purchase.id)">
	      			<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{'EDIT.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="deletePurchase(purchase.id)">
	      			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
		
		
	</div>
	<!-- end list -->
	
	
	</form>
	
</div>

<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker-it.js"></script>
<script src="js/purchase.js"></script>

</body>
</html>	