<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CyBusiness - Change Password</title>
	
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="shortcut icon" href="../../images/cy.ico">
	
	<script src="../../js/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script> 
	<script src="../../js/angularjs/1.3.15/angular.min.js"></script>   
	<script src="../../js/angular-translate/2.8.1/angular-translate.min.js"></script>
	
	<script src="../../js/ironhorse-common.js"></script>
	<script src="../../js/ironhorse-transl.js"></script>
	
	
</head>
<body>
<div class="container-fluid" ng-app="changePwdApp" ng-controller="changePwdCtrl" ng-cloak>
	<div class="page-header" ng-include="'../../includes/header.html'"></div>
	<h4><span class="label label-default" translate>PAGE.TITLE</span></h4>
	
	<form novalidate name="changePwd" id="changePwd" class="form-horizontal" role="form" method="post">
		<div class="form-group form-group-sm">
			<label class="col-sm-1 control-label" translate>OLD_PWD.LABEL</label>
			<div class="col-sm-4">
				<input class="form-control" name="oldPwd" id="oldPwd" type="password" ng-model="oldPwd" maxlength=30 required/>
				<span class="help-block" ng-show="logon.oldPwd.$error.required" translate>OLD_PWD.REQUIRED</span>
      		</div>
      	</div>
      	
      	<div class="form-group form-group-sm">
			<label class="col-sm-1 control-label" translate>NEW_PWD.LABEL</label>
			<div class="col-sm-4">
				<input class="form-control" name="pwd" id="pwd" type="password" ng-model="pwd" maxlength=30 required/>
				<span class="help-block" ng-show="logon.pwd.$error.required" translate>NEW_PWD.REQUIRED</span>
      		</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label class="col-sm-1 control-label" translate>CONF_PWD.LABEL</label>
			<div class="col-sm-4">
				<input class="form-control" name="confPwd" id="confPwd" type="password" ng-model="confPwd" maxlength=30 required/>
				<span class="help-block" ng-show="logon.confPwd.$error.required" translate>CONF_PWD.REQUIRED</span>
      		</div>
		</div>
		
		
		<div class="form-group form-group-sm" ng-show="infoMessage">
		<label class="col-sm-1 control-label">Info</label>
		<div class="col-sm-9">
			<div class="alert alert-info">
          		{{ infoMessage }}
        	</div>
	    </div>	
		</div>
		
		<div class="form-group form-group-sm" ng-show="errorMessage">
	    <label class="col-sm-1 control-label">Error</label>
	    <div class="col-sm-9">
	    	<div class="alert alert-danger">
          		{{ errorMessage }}
        	</div>
		</div>
		</div>
		
		
		<button type="button" class="btn btn-sm btn-info" ng-click="onSubmit()" translate>SUBMIT.BUTTON</button>
		<button type="button" class="btn btn-sm btn-info" ng-click="onReset()" translate>RESET.BUTTON</button>
	
		
	</form>	


</div>

<script>
       var app=angular.module('changePwdApp', ['pascalprecht.translate','irtranslator'])
			.config(function($translateProvider) {
			// Our translations will go in here
			$translateProvider
			.translations('en',{
				'PAGE.TITLE':'Change Password',
				'OLD_PWD.LABEL':'Old Password',
				'NEW_PWD.LABEL':'New Password',
				'CONF_PWD.LABEL':'Confirm Password',
				'SUBMIT.BUTTON':'Submit',
    		    'RESET.BUTTON': 'Reset',
    		    'OLD_PWD.REQUIRED': 'Old Password is required.',
    		    'NEW_PWD.REQUIRED': 'New Password is required.',
    		    'CONF_PWD.REQUIRED': 'Cofirm Password is required.',
    		    'PWDNOTEQ.MESSAGE': 'Password and confirmed password are not equal',
    		    'CHANGEPWDOK.MESSAGE':'Password changed'
			})
			 
			.translations('it',{
				'PAGE.TITLE':'Modifica Password',
				'OLD_PWD.LABEL':'Vecchia Password',
				'NEW_PWD.LABEL':'Nuova Password',
				'CONF_PWD.LABEL':'Conferma Password',
				'SUBMIT.BUTTON':'Conferma',
	    		'RESET.BUTTON': 'Reset',
	    		'OLD_PWD.REQUIRED': 'La Vecchia Password è obbligatoria.',
	    		'NEW_PWD.REQUIRED': 'La Nuova Password è obbligatoria.',
	    		'CONF_PWD.REQUIRED': 'La Conferma della Password è obbligatoria.',
	    		'PWDNOTEQ.MESSAGE': 'La password con quella confermata non coincidono',
	    		'CHANGEPWDOK.MESSAGE':'Password modificata'
			});
			
		   $translateProvider.preferredLanguage(getLanguage());
			 
	 	});
		
       	app.controller('changePwdCtrl', function($scope, $http,$translate) {
    
       		$scope.securityToken=getLocalStorageItem("org.cysoft.bss.ih.securityToken");
       		
    	    		
	       	$scope.onSubmit = function() {
	       		$scope.errorMessage="";
	       		
	    		if (!$scope.changePwd.$valid)
	    			return;
	       		
	       		if ($scope.pwd!=$scope.confPwd){
	       			$translate('PWDNOTEQ.MESSAGE')
	  	          .then(function (translatedValue) {
	  	              $scope.errorMessage=translatedValue;
	  	          
	  	          });
	       			return;		
	       		}
	       		
	       		var id=getLocalStorageItem("org.cysoft.bss.ih.user.id");
	       		callRestWs($http,'user/'+id+'/changePwd','POST',
	    				{"Security-Token": $scope.securityToken},
	    				{"newPwd":$scope.pwd,"oldPwd":$scope.oldPwd},
	    				function(response){
	   						if (response.data.resultCode==RESULT_OK){
	   							$translate('CHANGEPWDOK.MESSAGE')
	   			  	          .then(function (translatedValue) {
	   			  	              $scope.infoMessage=translatedValue;
	   			  	          
	   			  	          });			
	   						}
	   						else
	   						{
	   							manageError($scope,response.data.resultCode,response.data.resultDesc);
	   						}
	   					}, 
	   					function(data, status, headers, config){
	   							manageError($scope,status,data);
	   					});
	    		
    	   		
	       	}
	    	 
			$scope.onReset = function() {
	    		$scope.oldPwd="";
	    		$scope.pwd="";
	    		$scope.confPwd="";
	    		$scope.errorMessage="";
	    	}
		
       });   
       
       setMenuCntl(app);
      

</script>

</body>
</html>