<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Iron Horse - Location</title>
	
	<link rel="shortcut icon" href="../../images/cy.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-datepicker/1.3.0/datepicker.min.css" type="text/css"/>
	<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css"/>
	<link rel="shortcut icon" href="../../images/cy.ico">
	
	<script src="../../js/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script> 
	<script src="../../js/angularjs/1.3.15/angular.min.js"></script>
	<script src="../../js/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	
	
	<script src="../../js/ironhorse-common.js"></script>
	<script src="../../js/ironhorse-transl.js"></script>
	<script src="../../js/ironhorse-search.js"></script>
	<script src="../../js/ironhorse-list.js"></script>
	
	
</head>
<body>
<div class="container-fluid" ng-app="pageApp" ng-controller="pageCtrl">
	<div class="page-header" ng-include="'../../includes/header.html'" ></div>

	<div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }}</div>
	<div class="alert alert-info" ng-show="infoMessage"> {{ infoMessage }}</div>
	
	<form novalidate name="locationForm" id="locationForm" class="form-inline" role="form" method="post">
	<div id='list' ng-show="detail">
		<div ng-show="!modify"><h4><span class="label label-default">{{'NEW.TITLE' | translate }}</span></h4></div>
		<div ng-show="modify"><h4><span class="label label-default">{{'MODIFY.TITLE' | translate }}</span></h4></div>
	
		<button type="button" class="btn btn-info btn-sm" ng-click="onBack()">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
				{{'BACK.BUTTON' | translate }}
		</button>
		</br></br>
				
		<div class="form-group form-group-sm">
			<label for="_name">{{'NAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_name" id="_name" type="text" ng-model="_name" size="30" maxlength=50 required/></div>
		</div>
      	<div class="form-group form-group-sm">
			<label for="_latitude">{{'LATITUDE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_latitude" id="_latitude" type="number" ng-model="_latitude" size="15" step="0.000001" required/></div>
		</div>
      	
      	<div class="form-group form-group-sm">
			<label for="_longitude">{{'LONGITUDE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_longitude" id="_longitude" type="number" ng-model="_longitude" size="15" step="0.000001" required/></div>
		</div>
      	
      	<div class="form-group form-group-sm">
			<label for="_locationType">{{'LOCATIONTYPE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_locationType" id="_locationType" type="text" ng-model="_locationType" maxlength=30 size="20"/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_creationDate">{{'CREATIONDATE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_creationDate" id="_creationDate" type="text" ng-model="_creationDate" size="20" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_personFirstName">{{'PERSONFIRSTNAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_personFirstName" id="_personFirstName" type="text" ng-model="_personFirstName" size="25" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_personFirstName">{{'PERSONSECONDNAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_personSecondName" id="_personSecondName" type="text" ng-model="_personSecondName" size="25" readonly/></div>
		</div>
		
		<div class="form-group form-group-sm" ng-show="modify">
			<label for="_userName">{{'USERNAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_userName" id="_userName" type="text" ng-model="_userName" size="25" readonly/></div>
		</div>
		
		</br>
		<div class="form-group form-group-sm">
      		<label for="_description">{{'DESC.LABEL' | translate }}:</label>
			<div><textarea class="form-control" rows="8" cols="90" ng-model="_description" maxlength=2500 ></textarea></div>
		</div>
		</br>
		
		<div class="form-group form-group-sm">
			<label for="_address">{{'ADDRESS.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_address" id=_address" type="text" ng-model="_address" maxlength=60 size="35"/></div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_zipCode">{{'ZIPCODE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_zipCode" id=_zipCode" type="text" ng-model="_zipCode" maxlength=15 size="10"/></div>
		</div>
		
	
		<div class="form-group form-group-sm">
			<label for="_selectedCityId">{{'CITY.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedCityId" name="_selectedCityId" class="form-control" ng-model="_selectedCityId">
		        	 <option value=""> </option>
		        	 <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<h6>
			<span class="label label-warning" ng-show="locationForm._name.$error.required" translate>NAME.REQUIRED</span>
    		<span class="label label-warning" ng-show="locationForm._latitude.$error.required || locationForm._latitude.$error.number" translate>LATITUDE.REQUIRED</span>
    		<span class="label label-warning" ng-show="locationForm._longitude.$error.required || locationForm._longitude.$error.number" translate>LONGITUDE.REQUIRED</span>
		</h6>
		
      	<button type="button" class="btn btn-sm btn-info" ng-click="onSubmit()" translate>SUBMIT.BUTTON</button>
		
		<div ng-show="modify">
		<h5><span class="label label-default">{{'ATTACCHEDFILES.LABEL' | translate }}</span></h5>
		<table class="table-condensed table-bordered table-striped">
			<thead ng-show="files.length>0">
				<tr class="info small">
				<th></th>
				<th>{{'FILENAME.LABEL' | translate }}</th>
				<th>{{'FILETYPE.LABEL' | translate }}</th>
				<th>{{'FILESIZE.LABEL' | translate }}</th>
				<th>{{'CONTENTTYPE.LABEL' | translate }}</th>
				<th>{{'NOTE.LABEL' | translate }}</th>
				<th></th>
				</tr>
		    </thead>
		    <tbody>
		    	<tr class="small" ng-repeat="file in files">
		    		<td>
		    		<a href="{{coreUrl+'/fileservice/file/'+securityToken+'/'+file.id+'/download'}}">
	      				<span class="glyphicon glyphicon-open">{{'OPEN.LABEL' | translate }}</span>
	      			</a>
					</td>
		    		<td>{{ file.name }}</td>
		    		<td>{{ file.fileType }}</td>
		    		<td>{{ file.length }}</td>
		    		<td>{{ file.contentType }}</td>
		    		<td>{{ file.note }}</td>
		    		<td>
		    			<button class="btn btn-info btn-xs" ng-click="deleteFile(file.id)">
	      				<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      				</button>
	    			</td>
		    	</tr>
		    </tbody>		  		
		      	
		</table>
		
		<div class="form-group form-group-sm">
			<label for="_fileName">{{'FILENAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_fileName" id="_fileName" type="text" ng-model="_fileName" maxlength=30 size="20"/></div>
		</div>
		
		<div class="form-group"> 
			<label for="file">File:</label>
			<div>
				<input class="form-control" type="file" file-model="file"/>
			</div>	
	    </div>
		
		<div class="form-group form-group-sm">
			<label for="_fileType">{{'FILETYPE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_fileType" id="_fileType" type="text" ng-model="_fileType" maxlength=30 size="20"/></div>
		</div>
		
      	<div class="form-group form-group-sm">
			<label for="_fileNote">{{'NOTE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_fileNote" id="_fileNote" type="text" ng-model="_fileNote" maxlength=500 size="30"/></div>
		</div>
		<h6>
		
		</h6>
		<button type="button" class="btn btn-sm btn-info" ng-click="uploadFile()" translate>ADDFILE.BUTTON</button>
		
		</div>
		<!-- end files -->
		
		<div ng-show="modify">
		<h5><span class="label label-default">{{'LANGUAGES.LABEL' | translate }}</span></h5>
		
		<div class="form-group form-group-sm">
			<label for="_selectedLangId">{{'LANGUAGE.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedLangId" name="_selectedLangId" class="form-control" ng-change="onSelectLang()" ng-model="_selectedLangId" required>
		        	 <option value=""> </option>
		        	 <option ng-repeat="lang in languages" value="{{lang.id}}">{{lang.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_nameLang">{{'NAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_nameLang" id="_nameLang" type="text" ng-model="_nameLang" size="30" maxlength=50 required/></div>
		</div>
      	
		</br>
		<div class="form-group form-group-sm">
      		<label for="_descriptionLang">{{'DESC.LABEL' | translate }}:</label>
			<div><textarea class="form-control" name="_descriptionLang" id="_descriptionLang" rows="8" cols="90" ng-model="_descriptionLang" maxlength=2500 required></textarea></div>
		</div>
		</br>
		<h6>
			<span class="label label-warning" ng-show="locationForm._selectedLangId.$error.required" translate>LANGUAGE.REQUIRED</span>
    		<span class="label label-warning" ng-show="locationForm._nameLang.$error.required" translate>NAME.REQUIRED</span>
    		<span class="label label-warning" ng-show="locationForm._descriptionLang.$error.required || locationForm._latitude.$error.number" translate>DESCRIPTION.REQUIRED</span>
    	</h6>
		<button type="button" class="btn btn-sm btn-info" ng-click="addLanguage()" ng-show="_selectedLangId!=undefined" translate>ADDLANGUAGE.BUTTON</button>
		<button type="button" class="btn btn-sm btn-info" ng-click="removeLanguage()" ng-show="_selectedLangId==_langId && _selectedLangId!=undefined" translate>REMOVELANGUAGE.BUTTON</button>
		
		
		</div>
		<!-- end languages -->
	
	</div>
	<!--  end detail -->
	
	<div ng-show="!detail">
		<h4><span class="label label-default">Location</span></h4>
		
		<div class="form-group form-group-sm">
				<label for="name">{{'NAME.LABEL' | translate }}:</label>
				<input class="form-control" type="text" name="name" id="name" type="text"  maxlength=50 ng-model="name">
		</div>
		
		<div class="form-group form-group-sm">
				<label for="locationType">{{'LOCATIONTYPE.LABEL' | translate }}:</label>
				<input class="form-control" type="text" name="locationType" id="locationType" type="text" maxlength=30 ng-model="locationType">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="dateFrom">{{'DATEFROM.LABEL' | translate }}:</label>
			<div class="input-group date" id="datepickerFrom">
            <input class="form-control" type="text" name="dateFrom" id="dateFrom" type="text"  ng-model="dateFrom">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		<div class="form-group form-group-sm">
			<label for="dateTo">{{'DATETO.LABEL' | translate }}:</label>
			
			<div class="input-group date" id="datepickerTo">
            <input class="form-control" type="text" name="dateTo" id="dateTo" type="text"  ng-model="dateTo">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          	</div>	
		</div>
		
		
		<button type="button" class="btn btn-info btn-sm" ng-click="onSearch()">
				<span class="glyphicon glyphicon-search"></span>
				{{'SEARCH.BUTTON' | translate }}
		</button>
		<button type="button" class="btn btn-sm btn-info" ng-click="onNew()">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
				{{'NEW.BUTTON' | translate }}
		</button>
		
		<br><br>
		<table class="table table-bordered table-striped" ng-show="locations.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'NAME.LABEL' | translate }}</th>
			<th>{{'CREATIONDATE.LABEL' | translate }}</th>
			<th>{{'DESC.LABEL' | translate }}</th>
			<th>{{'LOCATIONTYPE.LABEL' | translate }}</th>
			<th>{{'LATITUDE.LABEL' | translate }}</th>
			<th>{{'LONGITUDE.LABEL' | translate }}</th>
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="loc in locations">
	    		<td>{{ loc.id }}</td>
	    		<td>{{ loc.name }}</td>
	    		<td>{{ loc.creationDate }}</td>
	    		<td>{{ loc.description.length>80?loc.description.substring(0,80)+' [...]':loc.description }}</td>
	    		<td>{{ loc.locationType }}</td>
	    		<td>{{ loc.latitude }}</td>
	    		<td>{{ loc.longitude }}</td>
	    		
	    		<td> 
	      			<button class="btn btn-info btn-xs" ng-click="editLoc(loc.id)">
	      			<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{'EDIT.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="deleteLoc(loc.id)">
	      			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
	
	</div>
	<!-- end list -->
		
	</form>
</div>

<script src="js/location.js"></script>
	
</body>
</html>