<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CyBusiness - Product</title>
	
	<link rel="shortcut icon" href="../../images/cy.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-datepicker/1.3.0/datepicker.min.css" type="text/css"/>
	<link rel="stylesheet" href="../../css/bootstrap-theme.css" type="text/css"/>
	<link rel="shortcut icon" href="../../images/cy.ico">
	
	<script src="../../js/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script> 
	<script src="../../js/angularjs/1.3.15/angular.min.js"></script>
	<script src="../../js/angular-translate/2.8.1/angular-translate.min.js"></script>
	<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	
	
	<script src="../../js/ironhorse-common.js"></script>
	<script src="../../js/ironhorse-transl.js"></script>
	<script src="../../js/ironhorse-search.js"></script>
	<script src="../../js/ironhorse-list.js"></script>
	<script src="../../js/ironhorse-attribute.js"></script>
	
</head>
<body>
<div class="container-fluid" ng-app="pageApp" ng-controller="pageCtrl" ng-cloak>
	<div class="page-header" ng-include="'../../includes/header.html'" ></div>
	
	<div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }}</div>
	<div class="alert alert-info" ng-show="infoMessage"> {{ infoMessage }}</div>
	
	<form novalidate name="productForm" id="productForm" class="form-inline" role="form" method="post">

	<div id='list' ng-show="detail">
		<div ng-show="!modify"><h4><span class="label label-default">{{'NEW.TITLE' | translate }}</span></h4></div>
		<div ng-show="modify"><h4><span class="label label-default">{{'MODIFY.TITLE' | translate }}</span></h4></div>
	
		<button type="button" class="btn btn-info btn-sm" ng-click="onBack()">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
				{{'BACK.BUTTON' | translate }}
		</button>
		</br></br>
		
		<div class="form-group form-group-sm">
			<label for="_name">{{'NAME.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_name" id="_name" type="text" ng-model="_name" size="50" maxlength=100 required/></div>
		</div>
      	
      	<div class="form-group form-group-sm">
			<label for="_code">{{'CODE.LABEL' | translate }}:</label>
			<div><input class="form-control" name="_code" id="_code" type="text" ng-model="_code" maxlength=50 size="20"/></div>
		</div>
      	
      	<div class="form-group form-group-sm">
			<label for="_selectedCategory">{{'CATEGORY.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedCategory" name="_selectedCategory" class="form-control" ng-model="_selectedCategory" required>
		        	 <option value=""> </option>
		        	 <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
		        </select>
		   	</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="_selectedType">{{'TYPE.LABEL' | translate }}:</label>
			<div>
				<select id="_selectedType" name="_selectedType" class="form-control" ng-model="_selectedType" required>
		        	 <option value=""> </option>
		        	 <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
		        </select>
		   	</div>
		</div>
		
		</br>
		<div class="form-group form-group-sm">
      		<label for="_description">{{'DESCRIPTION.LABEL' | translate }}:</label>
			<div><textarea class="form-control" rows="8" cols="90" name="_description" ng-model="_description" maxlength=500 required></textarea></div>
		</div>
		</br>
		
		<h5><span class="label label-default">{{'PARENT.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_parentId" id="_parentId" type="text" ng-model="_parentId" size="50" ng-show="false"/>
				<input class="form-control" name="_parentName" id="_parentName" type="text" ng-model="_parentName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeleteParent()">
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" size=20 name="parentName" id="parentName" type="text"  ng-model="parentName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchParent()">
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm">
			<select id="_selectedParent" name="_selectedParent" class="form-control" ng-model="_selectedParent" required>
	        	 <option ng-repeat="parent in parents" value="{{parent.id}}">{{parent.name}}</option>
	        </select>
	        <button class="btn btn-info btn-xs" ng-click="onUpdateParent()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
	        
		</div>
		
		<h5><span class="label label-default">{{'PRODUCER.LABEL' | translate }}</span></h5>
		<div class="form-group form-group-sm">
			<div>
				<input class="form-control" name="_producerId" id="_producerId" type="text" ng-model="_producerId" size="50"  ng-show="false"/>
				<input class="form-control" name="_producerName" id="_producerName" type="text" ng-model="_producerName" size="50" readonly/>
				<button class="btn btn-info btn-xs" ng-click="onDeleteProducer()">
	      			<span class="glyphicon glyphicon-trash"></span>
	      		</button>
			</div>
		</div>
		
		<div class="form-group form-group-sm">
			<input class="form-control" type="text" size=20 name="producerName" id="producerName" type="text"  ng-model="producerName">
	 	</div>
		<button type="button" class="btn btn-xs btn-info" ng-click="onSearchProducer()">
			<span class="glyphicon glyphicon-search"></span>{{'SEARCH.BUTTON' | translate }}
		</button>
		
		<div class="form-group form-group-sm">
			<select id="_selectedProducer" name="_selectedProducer" class="form-control" ng-model="_selectedProducer">
	        	 <option ng-repeat="company in companies" value="{{company.id}}">{{company.name+' ['+company.code+']'}}</option>
	        </select>
	       	<button class="btn btn-info btn-xs" ng-click="onUpdateProducer()">
	    		<span class="glyphicon glyphicon-pencil"></span>
	      	</button>
		</div>
		
		  	
      	<h6>
			<span class="label label-warning" ng-show="productForm._name.$error.required" translate>NAME.REQUIRED</span>
    		<span class="label label-warning" ng-show="productForm._selectedCategory.$error.required" translate>CATEGORY.REQUIRED</span>
    		<span class="label label-warning" ng-show="productForm._selectedType.$error.required" translate>TYPE.REQUIRED</span>
    		<span class="label label-warning" ng-show="productForm._description.$error.required" translate>DESCRIPTION.REQUIRED</span>
    
    	</h6>
		
      	<button type="button" class="btn btn-sm btn-info" ng-click="onSubmit()" translate>SUBMIT.BUTTON</button>
	
		<!-- attributes -->
		<div ng-show="modify">
			<h5><span class="label label-default">{{'ATTRIBUTES.LABEL' | translate }}</span></h5>
			<table class="table table-condensed table-bordered table-striped">
				<thead ng-show="attributeValues.length>0">
					<tr class="info small">
					<th>{{'ATTRIBUTENAME.LABEL' | translate }}</th>
					<th>{{'ATTRIBUTETYPE.LABEL' | translate }}</th>
					<th>{{'ATTRIBUTEVALUE.LABEL' | translate }}</th>
					<th></th>
					</tr>
			    </thead>
			
				<tbody>
			    	<tr class="small" ng-repeat="attribute in attributeValues">
			    		<td>{{ attribute.name }}</td>
			    		<td>{{ attribute.typeName }}</td>
			    		<td>{{ attribute.value }}</td>
			    		<td>
			    			<button class="btn btn-info btn-xs" ng-click="deleteAttribute(attribute.id)">
		      				<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
		      				</button>
		    			</td>
					</tr>
				</tbody>		
			
			</table>		
		
			<div class="form-group form-group-sm">
				<label for="_selectedAttribute">{{'ATTRIBUTENAME.LABEL' | translate }}:</label>
				<select id="_selectedAttribute" name="_selectedAttribute" class="form-control" ng-model="_selectedAttribute" required>
		        	 <option ng-repeat="attribute in attributes" value="{{attribute.id}}">{{attribute.name +' >'+attribute.typeName+'<' }}</option>
		        </select>
			</div>
			
				<div class="form-group form-group-sm">
				<label  for="_attributeValue">{{'ATTRIBUTEVALUE.LABEL' | translate }}:</label>
			   	<input class="form-control" type="text" size=15 name="_attributeValue" id="_attributeValue" type="text" maxlength=300 ng-model="_attributeValue" required>
	 		</div>
			
			<h6>
				<span class="label label-warning" ng-show="companyForm._selectedAttribute.$error.required && modify" translate>ATTRIBUTENAME.REQUIRED</span>
				<span class="label label-warning" ng-show="companyForm._attributeValue.$error.required && modify" translate>ATTRIBUTEVALUE.REQUIRED</span>
			</h6>
		
			<button type="button" class="btn btn-xs btn-info" ng-click="addAttribute()" translate>ADDATTRIBUTE.BUTTON</button>
			
		</div>
		<!--  end attributes -->
	  	
	</div>
	<!--  end detail -->
	<div ng-show="!detail">
		<h4><span class="label label-default">{{'PRODUCT.TITLE' | translate }}</span></h4>
	
		<div class="form-group form-group-sm">
			<label for="name">{{'NAME.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="name" id="name" type="text"  ng-model="name">
		</div>
		
		<div class="form-group form-group-sm">
			<label for="selectedCategory">{{'CATEGORY.LABEL' | translate }}:</label>
			<select id="selectedCategory" name="selectedCategory" class="form-control" ng-model="selectedCategory">
				<option value=""></option>
				<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
			</select>
		</div>
	
		<div class="form-group form-group-sm">
			<label for="selectedType">{{'TYPE.LABEL' | translate }}:</label>
			<select id="selectedType" name="selectedType" class="form-control" ng-model="selectedType">
				<option value=""></option>
				<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
			</select>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="selectedAttribute">{{'ATTRIBUTE.LABEL' | translate }}:</label>
			<select id="selectedAttribute" name="selectedAttribute" class="form-control" ng-model="selectedAttribute">
				<option value=""></option>
				<option ng-repeat="attribute in attributes" value="{{attribute.id}}">{{attribute.name}}</option>
			</select>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="attributeValue">{{'ATTRIBUTEVALUE.LABEL' | translate }}:</label>
			<input class="form-control" type="text" name="attributeValue" id="attributeValue" type="text"  ng-model="attributeValue">
		</div>
		
		<button type="button" class="btn btn-info btn-sm" ng-click="onSearch()">
				<span class="glyphicon glyphicon-search"></span>
				{{'SEARCH.BUTTON' | translate }}
			</button>
			<button type="button" class="btn btn-sm btn-info" ng-click="onNew()">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
				{{'NEW.BUTTON' | translate }}
			</button>
		
		<br><br>
		<table class="table table-bordered table-striped" ng-show="products.length>0">
		<thead>
			<tr class="info small"><th>Id</th>
			<th>{{'NAME.LABEL' | translate }}</th>
			<th>{{'CATEGORY.LABEL' | translate }}</th>
			<th>{{'TYPE.LABEL' | translate }}</th>
			<th>{{'CODE.LABEL' | translate }}</th>
			<th>{{'PARENT.LABEL' | translate }}</th>
			<th>{{'PRODUCER.LABEL' | translate }}</th>
			<th></th>
	     	</tr>
	    </thead>
	    <tbody>
	    	<tr class="small" ng-repeat="product in products | orderBy:'name'">
	    		<td>{{ product.id }}</td>
	    		<td>{{ product.name }}</td>
	    		<td>{{ product.category.name }}</td>
	    		<td>{{ product.productType.name }}</td>
	    		<td>{{ product.code }}</td>
	    		<td>{{ product.parentName }}</td>
	    		<td>{{ product.producerName }}</td>
	    		
	    		<td> 
	      			<button class="btn btn-info btn-xs" ng-click="editProduct(product.id)">
	      			<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{'EDIT.BUTTON' | translate }}
	      			</button>
	      			
	      			<button class="btn btn-info btn-xs" ng-click="deleteProduct(product.id)">
	      			<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{'DELETE.BUTTON' | translate }}
	      			</button>
	    			
	    		</td>
	    	</tr>
	    </tbody>		  		
	      	
	</table>
		
		
	</div>
	<!-- end list -->
	
	
	</form>
	
</div>

<script src="../../js/angularjs-bootstrap-datepicker/bootstrap-datepicker-it.js"></script>
<script src="js/product.js"></script>

	
</body>
</html>	